div .not {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: black;
  height: 100vh;
}

.not img {
  width: 30%;
}


.not  h2 {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 65px;
  text-align: justify;
  width: 50%;
}
